<!-- /views/partials/footer.ejs -->
    </div>
    <br>
  <footer>&copy;2016 CodeWolves GA Austin</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src ="../script/script.js"></script>

</body>
</html>
