<!DOCTYPE html>
<html>
  <head>
    <title>SwimSpot Austin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">

      body {

      }

    </style>

  </head>
  <body>
    <div>
      <ul>
        <li class="left">LOGO</li>
        <li><a href="/users/new">Sign Up</a></li>
        <li><a href="/users/new">Log In</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
    <div class="">


