<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">

      body {
        background-color: <%=color%> ;
      }

    </style>
  </head>
  <body>
    <div>
      <ul>
        <li>LOGO</li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Log In</a></li>
      </ul>
    </div>
