<!DOCTYPE html>
<html>
  <head>
    <title>SwimSpot Austin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style type="text/css">

      body {

      }

    </style>

  </head>
  <body>
    <div>
      <ul>
        <li>LOGO</li>
        <li><a href="/">Home</a></li>
        <li><a href="/users/new">Sign Up</a></li>
        <li><a href="/users/new">Log In</a></li>
      </ul>
    </div>
