<% if (message) { %>
  <p><%= message %></p>
<% } %>

<form action="/sessions/" method="post">
  <div>
    <h1>
    <label>Create a new review:</label>
    <input type="text" name="review"/>
  </div>
  <div>
    <input type="submit" value="Add Review!"/>
  </div>
</form>
