<% if (message) { %>
  <p><%= message %></p>
<% } %>
<% include partials/header %>
<form action="/" method="post">
  <div>
    <h1>
    <label>Create a new review:</label>
    <input type="text" name="review"/>
  </div>
  <div>
    <input type="submit" value="Add Review!"/>
  </div>
</form>
<% include partials/footer %>
