/*CUSTOM STYLES*/
/*font-family: 'Lobster', cursive;*/
/*font-family: 'Poiret One', cursive;*/
/*font-family: 'Arimo', sans-serif;*/

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EAF0F0;
}

a {
  color: #00B7FF;
}

.hero h1 {
  text-align: center;
  vertical-align: middle;
  /*font-weight: bolder;*/
  font-size: 105px;
  color: #171C3B;
  line-height: 450px;
}

li a:hover {
  color: #a2c7c8;
}

li a {
  display: block;
  color: #d5e6e6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none !important;
  font-size: 10px;
}

p {
  text-align: center;
  margin: 20px 0 50px 0;
}

img {
  width: 70%;
  max-width: 500px;
  border: 1px solid black;
}

#holeLabel {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  margin-top: 10%;
}

#holeInput[type=text]{
  width: 60%;
}

footer {
  position: fixed;
  bottom: 0;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(#2E4062, #121422);
  list-style-type: none;
  border: 3px solid #000;
  white-space: nowrap;
}

.hero {
  background-image: url('../images/newBG.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  height: 600px;
  background-size: cover;
}

.cursive {
  font-family: 'Lobster', cursive;
  padding-top: 20px;
  /*font-size: 60px;*/
}

.notcursive {
  font-family: 'Poiret One', cursive;
  padding-top: 20px;
}

.fa-chevron-down {
  color: #121422;
}

.right {
  float: right;
  font-weight: bold;
}

.arrow {
  text-align: center;
}

.arrow:hover {
  cursor: pointer;
}

.reviewArrow {
  text-align: center;
}

.reviewArrow:hover {
  cursor: pointer;
}

.holeName {
  font-size: 40px;
  line-height: normal;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  border-bottom: 2px solid #2E4062;
  margin-bottom: 50px;
}

.locations {
  font-family: 'Poiret One', cursive;
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  border-bottom: 2px solid #2E4062;
}

.hole {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.title {
  display: inline-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.specificInformation {
  float: left;
  margin-left: 15%;
  max-width: 40%;
}

.information {
  font-size: 18px;
}

.information li {
  margin-bottom: 2%;
}

.specificImage {
  /*float: right;*/
  margin-bottom: 30px;
  position: absolute;
  right: 1%;
  height: 100px;
  width:40%;
}

.holeButton {
  text-align: center;
  margin: 3% 0;
}

.summary {
  display: inline-block;
  margin: 8% 15%;
  font-size: 18px;
}

.userReviews {
  border: 7px solid #2E4062;
  display: block;
  text-align: center;
  background-color: #fff;
}

.userReviews p {
  margin: 1%;
  text-align: left;
}

.left {
  float: left;
}

.reviews {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-bottom: 3%;
}

.swimmingHole{
  text-align: center;
  margin: 20px 0;
  width: 49%;
  display: inline-block;
  padding: 15px;
}

.swimmingHole img {
  width: 60%;
}

.formTitle {
  text-align: center;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  padding-top: 50px;
}

.accessAccount {
  text-align: center;
}

.email {
  margin-left: 2.8%;
}

.verticalList {
  display: block;
}

.specificImage {
  display: block;
}

.navBar {
  list-style-type: none;
}

.password {
  margin-left: 0.2%;
  padding-bottom: 10px;
}

#logo img{
  float: left;
  width: 3%;
  margin: 6px 6px;
  border: none;
}

#signUpLogIn h1 {
  font-size: 72px;
}

#holeTitle h1 {
  text-align: center;
}

@media (max-width: 760px){
  .swimmingHole{
    width: 100%;
  }
}
